.container{
  margin-top: 5%;
  margin-left: 5%;
   display: flex;
   gap: 200px;
}
.container>div:nth-child(1){

  width: 50%;
}
.left-div{
   width: 100%;
   height: 200px;
   border: 1px solid black;
}
.right-div{
border: 1px solid black;
display: flex;
flex-direction: column;
width: 80px;
justify-content: center;
padding: 20px;
justify-content: space-around;
}
.right-div>div{
   width: 70px;
   height: 70px;
  border: 1px solid black;
  border-radius: 35px;
  margin-bottom: 10px;
}
.d1{
   background-color: blue;
}
.d2{
  background-color: yellow;
}
.d3{
  background-color: black;
}
.d4{
 background-color: red;
}
.d5{
  background-color: gray;
 }
 .disk1{
  left: 70px;
  top: 100px;
  position: fixed;
  background-color: blue;
}
.disk2{
  left: 150px;
  top: 100px;
  position: fixed;
  background-color: yellow;
}
.disk3{
  left: 230px;
  top: 100px;
  position: fixed;
  background-color: black;
}
.disk4{
  left: 310px;
  top: 100px;
  position: fixed;
  background-color: red;
}

.disk5{
  left: 390px;
  top: 100px;
  position: fixed;
  background-color: gray;
}

button{
  background-color: white;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

button:hover{
  cursor: pointer;
  color: white;
  background-color: blue;
  
}
input{
  font-size: 20px;
}